@font-face {
    font-family: 'HS';
    src:    url('../font/HS.eot?84msdt');
    src:    url('../font/HS.eot?84msdt#iefix') format('embedded-opentype'),
        url('../font/HS.ttf?84msdt') format('truetype'),
        url('../font/HS.woff?84msdt') format('woff'),
        url('../font/HS.svg?84msdt#HS') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="hs-"], [class*=" hs-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'HS' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hs-AF_logo-single_dark:before {
    content: "\e900";
}
.hs-AU_logo-single_dark:before {
    content: "\e901";
}
.hs-HS_logo-single_dark:before {
    content: "\e902";
}
.hs-KD_logo-single_dark:before {
    content: "\e903";
}
.hs-LA_logo-single_dark:before {
    content: "\e904";
}
.hs-SA_logo-single_dark:before {
    content: "\e905";
}
.hs-UA_logo-single_dark:before {
    content: "\e906";
}

