			{# minfooter #}
				<div class="header-top">
					<div class="container">
						<div class="row">
							<div class="col-xs-2 col-sm-2">
								{# header-top-first start #}
								{# ================ #}
								<div class="header-top-first clearfix">
									<ul class="social-links circle small clearfix hidden-xs">
										<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/hispasec-sistemas-s-l-"><i class="fa fa-linkedin"></i></a></li>									
										<li class="twitter"><a target="_blank" href="//www.twitter.com/hispasec"><i class="fa fa-twitter"></i></a></li>
										<li class="youtube"><a target="_blank" href="//www.youtube.com/user/Hispasec/videos"><i class="fa fa-youtube-play"></i></a></li>
									</ul>
									<div class="social-links hidden-lg hidden-md hidden-sm circle small">
										<div class="btn-group dropdown">
											<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
											<ul class="dropdown-menu dropdown-animation">
												<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/hispasec-sistemas-s-l-"><i class="fa fa-linkedin"></i></a></li>											
												<li class="twitter"><a target="_blank" href="//www.twitter.com/hispasec"><i class="fa fa-twitter"></i></a></li>
												<li class="youtube"><a target="_blank" href="//www.youtube.com/user/Hispasec/videos"><i class="fa fa-youtube-play"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								{# header-top-first end #}
							</div>
							<div class="col-xs-10 col-sm-10">
								{# header-top-second start #}
								{# ================ #}
								<div id="header-top-second"  class="clearfix text-right">
									<ul class="list-inline">									
										<li>Copyright © 2017 HISPASEC. {% trans %}Todos los derechos reservados.{% endtrans %}</li>
										<li><i class="fa fa-map-marker pr-10"></i>C/ Trinidad Grund 12, 1ª Planta | 29001 | Málaga (Spain)</li>
										<li><i class="fa fa-phone pr-10"></i> +34 952 020 494 </li>
										<li><a href="/{{ lang_code }}/contact.html"><i class="fa fa-envelope-o pr-10"></i>{% trans %}Correos de interés{% endtrans %}</a></li>
									</ul>
								</div>
								{# header-top-second end #}
							</div>
						</div>
					</div>
				</div>
				<!-- Alert - Ley Cookies -->
			    <div id="cookies-law" style="display:none">
			        <div class="alert alert-info span12">
			            <strong>Hispasec.com</strong> {% trans %}utiliza cookies propias y de terceros para garantizar el correcto funcionamiento de su sitio web. Si continua navegando se considera aceptado el uso de cookies.{% endtrans %}
			            <button class="btn btn-primary btn-sm" data-dismiss="alert">{% trans %}cerrar{% endtrans %}</button>
			        </div>
			    </div>
			    <script>
			    	document.addEventListener("DOMContentLoaded", function() {
			    		checkCookieLaw();
					});
			    </script>
		</div>
		{# minfooter #}